body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.transfer {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #f5f5f5;
  padding: 20px;
}

.sidebar-logo img {
  width: 100%;
}

.sidebar-menu ul {
  list-style: none;
  padding: 0;
}

.sidebar-menu li {
  margin: 20px 0;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.sidebar-menu li:hover {
  color: #f09819;
  transform: translateX(10px);
}

.main-content {
  flex-grow: 1;
  background-color: #ffffff;
  padding: 20px;
}

.transfer .header {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.header-user {
  display: flex;
  align-items: center;
}

.header-user span:first-child {
  background-color: #ccc;
  border-radius: 50%;
  padding: 10px;
  margin-right: 10px;
}

.header-user a {
  margin-left: 10px;
  color: #0073e6;
  text-decoration: underline;
}

.content {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

h1 {
  font-size: 24px;
  color: #333;
}

.account-info {
  background-color: transparent;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.account-info label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.account-info select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-top: 5px;
  background-color: #f5f5f5;
}

.transfer-form {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.amount-input {
  display: flex;
  align-items: center;
}

.amount-input span {
  background-color: #eee;
  padding: 8px;
  border: 1px solid #ddd;
  border-right: none;
}

.amount-input input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.form-actions {
  display: flex;
  justify-content: space-between;
}

.btn-primary {
  padding: 10px 15px;
  background-color: #f09819;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn-primary:hover {
  background-color: #f09819;
}

.btn-secondary {
  padding: 10px 15px;
  background-color: #ccc;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn-secondary:hover {
  background-color: #bbb;
}

.button.loading {
  background-color: #6c757d; /* Fondo gris para indicar que está cargando */
  cursor: not-allowed; /* Cursor para indicar que el botón está deshabilitado */
}



.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  border-top: 4px solid white;
  width: 20px;
  height: 20px;
  display: inline-block;
  animation: spin 1s linear infinite;
  margin-right: 8px; /* Espacio entre el icono y el texto del botón */
  vertical-align: middle;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Media Queries */
@media (max-width: 1024px) {
  .sidebar {
    width: 200px;
  }

  .main-content {
    margin-left: 200px;
  }
}

.barras {
  display: none; /* Ocultamos el ícono de la hamburguesa por defecto */
}

@media (max-width: 768px) {
  .barras {
    display: block;
  }

  .sidebar-logo img {
    max-width: 70%; /* Reduce el tamaño de la imagen para pantallas más pequeñas */
  }

  .sidebar-menu {
    transform: translate(-100%);
    transition: transform 0.5s ease;
    font-size: 1.5rem;
    height: 100%;
    width: 50%;
    background: #f5f5f5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100vh;
  }

  .abrir_menu {
    transform: translate(0%);
    transition: transform 0.5s ease;
  }

  .transfer {
    flex-direction: column;
  }

  button {
    margin: 20px;
    border: none;
  }

  .boton_menu {
    background-color: transparent; /* Sin color de fondo */
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30px;
    width: 30px;
    padding: 0;
  }

  .boton_menu .linea {
    width: 100%;
    height: 3px;
    background-color: #f09819; /* Color de las barras */
    margin: 4px 0; /* Espacio entre las líneas */
    transition: all 0.3s ease;
  }

  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    margin-bottom: 20px;
  }

  .main-content {
    margin-left: 0;
  }

  .form-actions {
    flex-direction: column;
    align-items: flex-start;
  }

  .btn-primary, .btn-secondary {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .header-user span:first-child {
    padding: 8px;
  }

  .barras {
    display: block;
  }

  .sidebar-menu {
    transform: translate(-100%);
    transition: transform 0.5s ease;
    font-size: 1.5rem;
    width: 70%;
    background: #f09819;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 1000;
  }

  .abrir_menu {
    transform: translate(0%);
    transition: transform 0.5s ease;
    width: 50%;
    background: rgba(30, 30, 30, 0.6);
    backdrop-filter: blur(2px);
  }

  .header-user a {
    margin-left: 5px;
  }

  .account-info, .transfer-form {
    padding: 15px;
  }

  .form-group input {
    padding: 8px;
  }

  .btn-primary, .btn-secondary {
    padding: 12px;
  }
}

@media (max-width: 428px) {
  .header-user span:first-child {
    padding: 8px;
  }

  .barras {
    background: white;
    display: block;
  }

  .sidebar-menu {
    transform: translate(-100%);
    transition: transform 0.5s ease;
    font-size: 1.5rem;
    width: 100%;
    background: #f09819;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 1000;
  }

  .abrir_menu {
    transform: translate(0%);
    transition: transform 0.5s ease;
    width: 50%;
    background: rgba(30, 30, 30, 0.6);
    backdrop-filter: blur(2px);
  }

  .header-user a {
    margin-left: 5px;
  }

  .account-info, .transfer-form {
    padding: 15px;
  }

  .form-group input {
    padding: 8px;
  }

  .btn-primary, .btn-secondary {
    padding: 12px;
  }
}
